
<body>
    <h1>TO-DO App</h1>
    <form action="/add" method="POST">
        <input type="text" name="todo" placeholder="Enter your to-do">
        <button type="submit">Add</button>
    </form>

    <ul>
      <% for (let i = 0; i < data.length; i++) { %>
        <li>
          <%= data[i].task_name %>
          <form action="/delete" method="POST">
            <input type="hidden" name="id" value="<%= data[i].id %>">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% } %>
    </ul>
        <!-- <button id="delete" onclick="del()">Delete</button> -->
</body>